@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section LeftPanelContent {
<ul>

    <li>@Html.ActionLink("HtmlEditor", "index", "Home", null, new { @class = "dx-vam" })</li>
    <li>@Html.ActionLink("File Manager", "FileManager", "Home", null, new { @class = "dx-vam" })</li>
    <li>@Html.ActionLink("Image Slider", "ImageSlider", "Home", null, new { @class = "dx-vam" })</li>
    <li>@Html.ActionLink("Captcha Extension", "Captcha", "Home", null, new { @class = "dx-vam" })</li>

</ul>
}

<div class="text-content" id="TextContent">

    @using (Html.BeginForm())
    {
        @Html.Action("HtmlEditorPartial")
    }

</div>